<h1 class="text-center mt-5">Entries for <%= Date.today %></h1>

<div class="row ">
  <% @entries.each do |entry| %>
    <div class="col-sm mt-3">
      <%= render entry %>
    </div>
  <% end %>
</div>
<div class="d-flex justify-content-center my-3">
  <%= link_to "View all entries", archives_index_path, class: "btn btn-info" %>
</div>